@import "./Assets/Styles/colors.scss";

.App {
  text-align: center;
}

.reveal-link {
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-decoration: none;
  background-color: $sandrift;
  color: $very-dark-gray;
  border: 2px solid $sandrift;
  padding: 8px 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
  &:hover {
    background: none;
    color: $sandrift;
  }
}
.mid-heading {
  font-size: 2rem;
  letter-spacing: 4px;
  margin-bottom: 15px;
}
.underline {
  background-color: #af9a7d;
  width: 80px;
  height: 5px;
}
.nav-icon {
  margin-left: auto;
  color: #af9a7d;
  cursor: pointer;
  font-size: 2.5rem;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
