@import "../../Assets/Styles/mixins.scss";
@import "../../Assets/Styles/colors.scss";

main {
    text-align: left;

    .genres {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .general-data {
        @include layout-grid(4, 20px);
        .data-info {
            .info-description {
                color: $buttercup;
            }
        }
    }
}
