@import "../../Assets/Styles/colors.scss";

.movie-presentation {
    position: relative;
    .movie-backdrop {
        max-width: 100%;
        height: auto;
    }
    .play-icon {
        color: $buttercup;
        cursor: pointer;
        font-size: 6rem;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .title {
        display: flex;
        align-items: center;
        color: $cyan-blue;
        padding: 10px;
    }
    .close {
        margin-left: auto;
        cursor: pointer;
        font-size: 2rem;
    }
}

.trailer {
    display: block;
    width: 100%;
    height: 100%;
}
