@import "../../Assets/Styles/colors.scss";

.search-section {
    .search {
        height: 30px;
        width: 31%;
        font-size: 2rem;
        padding: 5px;
        border: none;
        border-radius: 5px;
        &:focus {
            box-shadow: 0 0 0 2pt $pelorous;
        }
    }
}
