@import "../../../Assets/Styles/colors.scss";
.movie {
    text-align: left;
    color: $white;
    text-decoration: none;
    .title {
        font-weight: bold;
    }
    .poster {
        width: 100%;
        height: auto;
        border: 1.5px solid $white;
    }
}
